.container {
  box-sizing: border-box;
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .container{
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}